# **M0S2**

Recursos:

- [¿Qué es una BD relacional? Oracle](https://www.oracle.com/mx/database/what-is-a-relational-database/)

- [¿Qué es una BD relacional? Amazon](https://aws.amazon.com/es/relational-database/)

- [Síntaxis de Sqlite](https://www.sqlite.org/lang.html)

- [SQL Python](https://www.tutorialspoint.com/python_data_access/python_sqlite_select_data.htm)

In [ ]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('example.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

#Creating table as per requirement
sql_instruction ='''CREATE TABLE EMPLOYEE(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT
)'''
cursor.execute(sql_instruction)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
#conn.close()

Table created successfully........

In [ ]:
sql_instruction = ''' INSERT INTO EMPLOYEE 
    (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) values
    ('Shikhar', 'Dhawan', 33, 'M', '33000')'''

cursor.execute(sql_instruction)
conn.commit()

In [ ]:
sql_instruction = ''' INSERT INTO EMPLOYEE 
    (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) values
    ('Alan', 'Gutierrez', 25, 'M', '13000')'''

cursor.execute(sql_instruction)
conn.commit()

In [ ]:
sql_instruction = ''' INSERT INTO EMPLOYEE 
    (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) values
    ('Francisco', 'Gutierrez', 52, 'M', '1300000')'''

cursor.execute(sql_instruction)
conn.commit()

In [ ]:
sql_instruction = '''SELECT * FROM EMPLOYEE'''
cursor.execute(sql_instruction)

result = cursor.fetchall();      # Guardar o capturar los datos ó registros (tuplas) en una lista
print(result)

[('Shikhar', 'Dhawan', 33, 'M', 33000.0), ('Alan', 'Gutierrez', 25, 'M', 13000.0), ('Francisco', 'Gutierrez', 52, 'M', 1300000.0)]

_________________________________________________________________________________

## Ejercicio: Crear la siguiente tabla usando Sqlite3
- [Tabla](https://docs.google.com/spreadsheets/d/1HBsNx9tiqO7FJDj907SBBTL5USLk3irvqkZlycKUTao/edit?usp=sharing)

In [1]:
# CREAR TABLA
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('table.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS TOTAL_PLAY")

#Creating table as per requirement
sql_instruction ='''CREATE TABLE TOTAL_PLAY(
   ID CHAR(4) NOT NULL,
   NAME CHAR(20),
   C1_1_2020 FLOAT,
   C1_2_2020 FLOAT,
   C1_3_2020 FLOAT,
   C1_4_2020 FLOAT,
   C1_5_2020 FLOAT,
   C1_6_2020 FLOAT
)'''
cursor.execute(sql_instruction)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
#conn.close()

Table created successfully........

In [2]:
# LLENAR 1 DATO
sql_instruction = ''' INSERT INTO TOTAL_PLAY 
    (ID, NAME, C1_1_2020, C1_2_2020, C1_3_2020, C1_4_2020, C1_5_2020, C1_6_2020) values
    ('G001', 'Chan, Daniel', 8, 8, 8.5, 7, 5, 2.5)'''

cursor.execute(sql_instruction)
conn.commit()

In [3]:
# LLENAR 2 DATO
sql_instruction = ''' INSERT INTO TOTAL_PLAY 
    (ID, NAME, C1_1_2020, C1_2_2020, C1_3_2020, C1_4_2020, C1_5_2020, C1_6_2020) values
    ('G002', 'Ali, Dana', 8.5, 7, 8, 8, 9, 5.5)'''

cursor.execute(sql_instruction)
conn.commit()

In [4]:
# LLENAR 3 DATO
sql_instruction = ''' INSERT INTO TOTAL_PLAY 
    (ID, NAME, C1_1_2020, C1_2_2020, C1_3_2020, C1_4_2020, C1_5_2020, C1_6_2020) values
    ('G003', 'Sanchez, Alexis', 7.5, 6.5, 10, 8, 7, 5)'''

cursor.execute(sql_instruction)
conn.commit()

In [5]:
# LLENAR 4 DATO
sql_instruction = ''' INSERT INTO TOTAL_PLAY 
    (ID, NAME, C1_1_2020, C1_2_2020, C1_3_2020, C1_4_2020, C1_5_2020, C1_6_2020) values
    ('G004', 'Fischer, Wolfgar', 8, 8, 8, 7, 7, 4)'''

cursor.execute(sql_instruction)
conn.commit()

In [6]:
# LLENAR 5 DATO
sql_instruction = ''' INSERT INTO TOTAL_PLAY 
    (ID, NAME, C1_1_2020, C1_2_2020, C1_3_2020, C1_4_2020, C1_5_2020, C1_6_2020) values
    ('G005', 'Patel, Anika', 6, 5, 5, 5.5, 6, 2)'''

cursor.execute(sql_instruction)
conn.commit()

In [7]:
# IMPRIMIR TABLA
sql_instruction = '''SELECT * FROM TOTAL_PLAY'''
cursor.execute(sql_instruction)

result = cursor.fetchall();
for i in range(0, len(result)):
  print(result[i])

('G001', 'Chan, Daniel', 8.0, 8.0, 8.5, 7.0, 5.0, 2.5)
('G002', 'Ali, Dana', 8.5, 7.0, 8.0, 8.0, 9.0, 5.5)
('G003', 'Sanchez, Alexis', 7.5, 6.5, 10.0, 8.0, 7.0, 5.0)
('G004', 'Fischer, Wolfgar', 8.0, 8.0, 8.0, 7.0, 7.0, 4.0)
('G005', 'Patel, Anika', 6.0, 5.0, 5.0, 5.5, 6.0, 2.0)